---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import "../styles/global.css";

// 获取所有博客文章对应的对象组成的数组
const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true }),
);
const pageTitle = "我的 Astro 学习博客";
---

<BaseLayout pageTitle={pageTitle}>
  <p>这是我的 Astro 学习笔记</p>
  <ul>
    {
      allPosts.map((post: any) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
