---
const baseUrl = import.meta.env.BASE_URL;
---

<div class="nav-links">
  <a href={`${baseUrl}`}>首页</a>
  <a href={`${baseUrl}/about`}>关于</a>
  <a href={`${baseUrl}/blog`}>博客</a>
  <a href={`${baseUrl}/tags`}>标签</a>
</div>
